<div class="blog-post">
  <h3><%= pregunta.description %></h3>
  <img class="thumbnail" src="<%= pregunta.imgURL%>">
  <div class="callout">
    <ul class="menu simple">
    <li><a href="#">Author: Mike Mikers</a></li>
    <li><a href="#">Comments: 3</a></li>
    </ul>
  </div>
</div>
