<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <h1><%= @sala.name %></h1>
      <h4><%= @sala.description %></h4>
    </div>
  </div>
</div>


<div class="row">
  <div class="small-6 large-centered columns">

    <h1> Puntaje: <%= current_user.currentPoints %></h1>
    <%= link_to "Regresar", '/quiz', :class => "button expand", :style=>"color:white" %>
  </div>
</div>

<script>

</script>
