<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">


<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <h1><%= @sala.name %></h1>
      <h4><%= @sala.description %></h4>
    </div>
  </div>

<div class="row medium-8 large-7 columns">
    <% @preguntas.each do |pregunta| %>
      <div class="blog-post">
        <h5><%= pregunta.description %></h5>
        <% pregunta.answers.each do |answer| %>
          <h5><%= answer.textAnswer %></h5>
        <% end %>
      </div>
    <% end %>
  </div>
