<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">


<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <h1><%= @sala.name %></h1>
      <h4><%= @sala.description %></h4>
    </div>
  </div>
