  <div class="column">
    <%= link_to image_tag(exposicion.imgURL, class: "thumbnail"), exposicion_path(exposicion) %>
      <h5><%= exposicion.name %></h5>
      <h5><%= exposicion.description %></h5>
  </div>
