<div class="container">
    <div class="center row">
        <h1 class="center signup-logo tituloForms">3 Museos</h1>
        <div class="row">
            <div class="large-12 columns">
                <div class="signup-panel panelCustomeForms">
                    <p class="welcome">Editar Exposición</p><br>
                    <%= render 'form' %>
                  <div class="museo_links buttonNewForms">
                    <%= link_to 'Cancelar', museo_show_path(@museoid) %>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
