<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <div class="header title">3 Museos</div>
      <div class="header action"><%= link_to "Sign out", destroy_admin_session_path, :method => :delete %></div>
    </div>
  </div>
  <br>
  <div class="row small-up-1 medium-up-3 large-up-3">
    <% @exposicions.each do |exposicion| %>
      <div class="column">
        <h5><%= exposicion.name %></h5>
        <h5><%= exposicion.description %></h5>
      </div>
    <% end %>
    <a class="large button expand nuevo" href="exposicions/new">Nueva Exposicion</a>
  </div>

</div>
