<div class="container">
    <div class="center row">
        <h1 class="center signup-logo">3 Museos</h1>
        <div class="row">
            <div class="large-12 columns">
              <a class="large button expand home" href="quiz">Servicio Social</a>
              <a class="large button expand home" href="dashboard">Administrador</a>
            </div>
        </div>
    </div>
</div>
