<div class="container">
    <div class="center row">
        <h1 class="center signup-logo mainLogo">3 Museos Contando Tu Historia.</h1>
        <%= image_tag("http://www.3museos.com/wp-content/uploads/2015/07/logo-historia.svg", :class => "logo") %>
        <%= image_tag("http://www.3museos.com/wp-content/uploads/2015/07/logo-mune.svg", :class => "logo") %>
        <%= image_tag("http://www.3museos.com/wp-content/uploads/2015/07/logo-palacio.svg", :class => "logo") %>
      <br><br><br>
        <div class="row containerHome">
            <div class="large-12 columns">
              <h3 class="center signup-logo">¡Bienvenido!</h3><br>
              <a class="large button expand home" href="quiz">Servicio Social</a>
              <a class="large button expand home" href="dashboard">Administrador</a>
            </div>
        </div>
    </div>
</div>
