<div class="container">
    <div class="center row">
        <h1 class="center signup-logo">3 Museos</h1>
        <div class="row">
            <div class="large-12 columns">
                <div class="signup-panel">
                    <p class="welcome">Nuevo Museo</p>
                    <%= render 'form' %>
                    <%= link_to 'Regresar', '/dashboard/museos' %>
                </div>
            </div>
        </div>
    </div>
</div>
